ul,ol,dl,h1,h2,h3,h4,h5,h6,body,div,html,li,dl,dt,dd,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #EFEFEF;
}


.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
