/* 顶部导航栏开始 */

.topNav {
    height: 102px;
    line-height: 102px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
}

.l_logo {
    float: left;
    margin-left: 22px;
}

.l_logo a {
    font-family: 'Arial Black';
    font-size: 24px;
}
.l_logo a span:nth-child(1) {
    margin-right: 6px;
    color: rgb(230, 104, 106);
}

.l_logo a span:nth-child(2) {
    color: rgb(157,157,162);
}

.r_nav {
    float: right;

}

.r_nav li {
    float: left;
    width: 72px;
}

.r_nav li a {
    font-size: 12px;
}

.r_nav li a:hover {
    border-bottom: rgb(224, 101,103) solid 3px;
    padding: 4px 0;
}

.r_nav a {
    color: rgb(183, 183, 183);
}

/* 背景图片开始 */

.banner {
    height: 515px;
    background: url(./img/rs-cover.jpg) center ;
    background-size: cover;
}

.mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
 }

 /* 简历卡片开始 */

 .userCard {
     /* border: 1px solid red; */
     max-width: 940px;
     height: 523px;
     margin-left: auto;
     margin-right: auto;
     background-color: #FFFFFF;
     box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
     /* padding: 50px;
     box-sizing: border-box; */
 
 }

 .cardCenter {
    padding: 50px;
 }

 .userCard .welcome {
     background-color: #E6686A;
     color: white;
     display: inline-block;
     padding: 4px 16px;
     position: relative;
     line-height: 22px;
 }

 .userCard .triangle {
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
    display: block;
    line-height: 22px;
 }

 .myPhoto {
     float: left;
 }

 .cardText {
     float: left;
     margin-left: 65px;
     width: 470px;
 }

 .userCard .name {
     position: relative;
     top: 10px;
 }

 .userCard dl dt,
 .userCard dl dd {
     float: left;
     width: 50%;
     margin-top: 10px;
 }

 .userCard dl dt {
     font-weight: bold;
 }

 .userCard dl dd {
     color: #9da0a7;
 }

 .userCard .cardFooter {
     background-color: #e6686a;
     height: 72px;
     text-align: center;
     
 }

 .cardFooter a {

   display: inline-block;
   width: 40px;
   padding: 5px 0;
   margin: 0 20px;
   margin-top: 22px;
   border-radius: 50%;
   
 }

 .cardFooter a:hover {
     background-color: rgb(207, 93, 95);
 }

 .cardFooter svg {
     width: 30px;
     height: 30px;
     fill: white;
     vertical-align: middle;
 }
 
 .userCard {
     margin-top: -360px;
 }

/* 下载按钮开始 */
.downloadResume {
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid rgb(203, 203, 203);
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-size: 14px;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}

.downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}



.downloadCenter {
    text-align: center;
    margin: 0;
}

/* 自我介绍开始 */
.myself {
    max-width: 940px;
    margin-left: auto;
     margin-right: auto;
     text-align: center;
     font-size: 21px;
    font-family: 楷体;
    line-height: 1.8;
}
/* 技能介绍 */
.skills,.Portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.skills h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    /* font-weight: normal; */
}

.skills ol {
    background-color: white;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
    padding: 42px 50px 10px;
    margin-top: 30px;
    
}

.skills ol li {
    float: left;
    width: 48%;
    box-sizing: border-box;
    /* padding-right: 10px; */
    float: left;
}

.skills ol li:nth-child(even) {
    float: right;
}
/* 进度条 */
section .progressBar {
    height: 5px;
    /* border: 1px solid red; */
    background-color: rgb(250, 225, 225);
    border-radius: 5px;
    margin: 5px 0;
    margin-bottom: 40px;
    
}

section .progress {
    height: 100%;
    background: #E6686A;
    width: 50%;
    border-radius: 5px;
}

/* 作品集开始 */
.Portfolio{
    text-align: center;
    margin-bottom: 100px;
}
.Portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 32px;
}
.Portfolio nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 28px;
}
.Portfolio nav ol {
    /* border: 1px solid red; */
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}
.Portfolio nav ol li {
    float: left;
    margin-left: 50px;
    cursor: pointer;
}
.Portfolio nav ol li:nth-child(1) {
    margin-left: 0;
}

/* 导航条开始 */
.Portfolio nav .bar {
    /* border: 1px solid red; */
    height: 5px;
    background: white;
    border-radius: 5px;
}

.bar .bar-linner {
    height: 100%;
    background: #E6686A;
    width: 50px;
    margin-top: 5px;
    border-radius: 5px;
    transition: all 0.3s;

}
/* 导航条切换 */
.bar.state-1 .bar-linner {
    margin-left: 0;
    width: 50px;
}

.bar.state-2 .bar-linner {
    margin-left: 75px;
    width: 50px;
}

.bar.state-3 .bar-linner {
    margin-left: 164px;
    width: 90px;
}

/* 作品图片开始 */
.Portfolio .works {
    position: relative;
    /* border: 1px solid red; */

}

.works .big,.works .small {
    position: absolute;
}