/* 顶部导航栏开始 */
.topNav {
    height: 102px;
    line-height: 102px;
}
.l_logo {
    float: left;
    margin-left: 22px;
}

.l_logo a {
    font-family: 'Arial Black';
    font-size: 24px;
}
.l_logo a span:nth-child(1) {
    margin-right: 6px;
    color: rgb(230, 104, 106);
}

.l_logo a span:nth-child(2) {
    color: rgb(157,157,162);
}

.r_nav {
    float: right;

}

.r_nav li {
    float: left;
    width: 72px;
}

.r_nav li a {
    font-size: 12px;
}

.r_nav li a:hover {
    border-bottom: rgb(224, 101,103) solid 3px;
    padding: 4px 0;
}

.r_nav a {
    color: rgb(183, 183, 183);
}